*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px; /* Here if we use 2080px screen also max-width is 1440px */
    background-color: #F0F4F5;
    margin: auto;
    overflow: hidden;
}

nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    margin-right: 50px;
    font-weight: 600;
}

nav ul li:first-child{
    color: #30c188;
}

nav img{
    margin-top: 2%;
}

/* Main Section */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

main section{
    width: 50%;
}

.left-section{
    margin-left: 5%;
    position: relative;

}

.topangle{
    width: 25px;
}

.left-section h1{
    font-size: 70px;
}

.left-section p{
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}

.bottomangle{
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope{
    position: absolute;
    width: 90%;
    top: -60Px;
    right: -25px;
    z-index: -1;

}

.mouse{
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 30px;
}

.left-section button{
    color: #FFFFFF;
    background-color:#30c188;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
}

/* Right Side */

.greenbox, .yellowbox {
    position: absolute;
}

.doctor{
    position: absolute;
    right: 1%;
    bottom: 0;
    height: 90%;
}

.greenbox{
    width: 35%;
    bottom: 50px;
    right: 2%;
}

.yellowbox{
    width: 30%;
    bottom: 35px;
    right: 0;
}